@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.box {
    border: 2px solid black;
    height: 300px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(149, 231, 203);
}

.ques {
    margin-left: 20px;
    margin-top: 20px;
}

.previous, .next {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-color: rgb(68, 68, 225);
}

.choices {
    margin-left: 20px;
    margin-top: 10px;
}

/* Media Query for Tablets and Smaller Desktops */
@media only screen and (max-width: 1024px) {
    .box {
        max-width: 80%;
    }
}

/* Media Query for Mobile Phones */
@media only screen and (max-width: 600px) {
    .title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box {
        max-width: 90%;
    }

    .ques {
        margin-left: 10px;
        margin-top: 10px;
    }

    .previous, .next {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .choices {
        margin-left: 10px;
    }
}
